@page "/ImprimirRelatorio"
@using Portal.Relatorios




<h3>Imprimir Relatorio</h3>

 
<form method="post">
    <div class="row mb-3">
        <div class="col-md-4">
            <label asp-for="DataInicio" class="form-label"></label>
            <input asp-for="DataInicio" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="DataFim" class="form-label"></label>
            <input asp-for="DataFim" class="form-control" />
        </div>
        <div class="col-md-4">
            <label asp-for="Turma" class="form-label"></label>
            <input asp-for="Turma" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" asp-page-handler="Filtrar" class="btn btn-primary">
                <i class="bi bi-funnel"></i> Filtrar
            </button>
            <button type="submit" asp-page-handler="Exportar" class="btn btn-success">
                <i class="bi bi-file-earmark-excel"></i> Exportar para Excel
            </button>
        </div>
    </div>
</form>

<hr />

@code {

}
