@using System.Security.Claims
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Bem-vindo, @context.User.FindFirst(ClaimTypes.Name).Value
                    <NavLink class="nav-link" href="/logout">
                        <span class="oi oi-account-logout"></span> Sair
                    </NavLink>
                </Authorized>
                <NotAuthorized>                    
                    <NavLink class ="nav-link" href="register">
                        <span class="oi oi-account-register"></span>Cadastre-se &nbsp &nbsp &nbsp
                    </NavLink>
                        
                    <LogIn />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
